<%= form_for(@main_slider, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
  <%#= render :partial => 'partials/error_messages', :locals => { :obj => @product } %>
  <fieldset>
    <legend>Tambah Gambar</legend>

    <div class="control-group">
      <%= f.label 'Gambar', :class => 'control-label' %>
      <div class="controls">
        <% if action == "new" %>
          <%= f.file_field :image, :class => 'input-file' %>
        <% else %>
          <%= image_tag @main_slider.image.url(:medium) %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Deskripsi', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'input-xlarge', :rows => 3 %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Simpan', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
