<%= form_for(@product_stock) do |f| %>
  <div class="main-content" style="width:400px">
    <div class="form">
      <%= render :partial => 'partials/error_messages', :locals => { :obj => @product_stock } %>

      <%= f.label 'stok' %>
      <%= f.text_field :stock, :size => 5 %><br />

      <%= f.hidden_field :product_id %>

      <% unless @product_stock.id.blank? %>
        <%= f.label :deskripsi %>
        <%= text_area_tag :description %><br />
      <% end %>
    </div>
  </div>
  <div class="footer">
    <%= f.submit 'Simpan' %>
  </div>
<% end %>